nav {
  display: flex;
  flex-direction: column;
  width: 3%;
  justify-content: left;
  float: left;
  position: absolute;
  z-index: 1;
}

.navelement {
  padding: 50%;
  text-decoration: none;
  width: 100%;
}

.dropdown .dropbtn {
  font-size: 16px;
  float: left;
  overflow: hidden;
  border: none;
  outline: none;
  background-color: #055cfd;
  color: white;
  padding: 14px 14px;
  box-shadow: 1px 1px 1px 1px rgb(211, 4081f8, 211);
  font-family: sans-serif;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #0043be;
}

.dropdown:hover {
  display: block;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.nav a:hover {
  color: #f1f1f1;
}

.nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.main {
  width: 95%;
  float: right;
  justify-content: right;
}

flextime {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  text-align: center;
}
