#nav {
  height: 100%;
  top: 0;
  left: 0;
  background-color: #818181;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  width: 3%;
  justify-content: left;
  float: left;
  position: absolute;
  z-index: 1;
}

#nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:  white;
  display: block;
  transition: 0.3s;
}

#nav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#flextime {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 100px;
  text-align: center;
}

.flex-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
}

.flex-container>div {
  background-color: DodgerBlue;
  color: white;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}